# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS metadata
.DS_Store
Thumbs.db

# Virtual Environments
.venv/
venv/
ENV/
env/

# Jupyter Notebooks
.ipynb_checkpoints

# pytest cache
.pytest_cache/

# Local IDEs
.vscode/
.idea/

# Environment and secrets
.env
.env.*
secrets.toml
.streamlit/secrets.toml

# Misc local-only files
*.log
*.sqlite3

# Large raw data (too big for GitHub)
data/raw/training.1600000.processed.noemoticon.csv

# Saved models
models/*.keras
